# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
gen
/node_modules
/lib
*/dist/
/src/examples/*/node_modules
/src/examples/simple-2d-animation/node_modules/
/src/examples/simple-3d-animation/node_modules/
